# Dependencies
**/node_modules/
photo-sharing-v1/build/

# OS/System files
.DS_Store
Thumbs.db
__MACOSX/
.idea/
.vscode/

# Local text logs and draft files
*.text
*.log
npm-debug.log*

# Backend uploaded photos (ignore only uploaded photos starting with U)
lab2/images/U*
